html {
  body {
    background-color: rgb(36, 47, 61);
    background-size: 100%;
    width: 100vw;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;

      header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
        color: rgb(214, 146, 64);

        img {
          position: absolute;
          top: 1%;
          left: 1%;
          height: 10rem;
          width: 10rem;
        }
      }

      .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem;
        min-height: 12rem;
        width: 90%;
        border: solid 1px rgb(214, 146, 64);
        border-radius: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        &:hover {
          transform: scale(1.01);
          box-shadow: 2rem;
        }

        img {
          width: 8rem;
          height: 8rem;
          margin-right: 2rem;
        }

        .position {
          position: absolute;
          margin-right: 60rem;
          margin-bottom: 8rem;
        }

        a {
          margin-top: 1rem;
        }

        .card-empty {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .checked {
        color: orange;
      }
    }
  }
}
