@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
}

@mixin flex-column {
  display: flex;
  flex-flow: column wrap;
}

@mixin align-center {
  justify-content: center;
  align-items: center;
}

$brand-color: rgb(36, 47, 61);
$secondary-color: rgb(214, 146, 64);
$third-color: rgb(0, 96, 155);
$alternate-color: rgb(36, 47, 61);
$confirm-color: #10ac84;
$danger-color: rgb(229, 57, 52);
$form-color: rgb(236, 236, 236);
$shade-color: rgba(7, 6, 6, 0.733);
$drop-zone-color: rgba(212, 209, 209, 0.445);
$white: #fff;
$black: #000;
