@import "./partials/Mixins.scss";

.App {
  @include flex-column;
  width: 100%;

  .category-lists::-webkit-scrollbar {
    display: none;
  }

  .container {
    @include flex-row;
    margin-top: 100px;
    width: 100%;

    .categories {
      height: 90%;
      display: flex;
      position: fixed;
      top: 100px;
      left: 0;

      .category-lists {
        background-color: $secondary-color;
        position: relative;
        border-right: solid;
        width: auto;
        overflow-y: scroll;
      }

      .side-bar--button {
        display: flex;
        background-color: $brand-color;
        color: $white;
        justify-content: center;
        border-style: solid solid solid none;
        border-radius: 5px;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        padding: 0.3rem;
        opacity: 0.7;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    .child-categories {
      display: flex;
      position: relative;

      // left: 20rem;
      background-color: $white;
      color: $black;
    }
  }
}
