@import "./partials/Mixins.scss";

@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.App {
  @include flex-column;
  width: 100%;
  background-color: $white;
  color: $brand-color;
  z-index: 1000;

  .container {
    width: 100%;
  }
}
