@import "./partials/Mixins.scss";

@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.App {
  @include flex-column;
  @include align-center;
  width: 100vw;
  color: $brand-color;

  .container {
    @include flex-column;
    @include align-center;
    width: 100%;
    background-color: $white;

    .status-wheel {
      position: fixed;
      top: 50%;
      right: 50%;

      .status-loading--image {
        animation: rotation 2s linear infinite;
        height: 5rem;
        color: white;
      }
    }

    .background-shade {
      position: fixed;
      background-color: $shade-color;
      height: 1000%;
      width: 1000%;
      z-index: 900;
    }
  }
}
