@import "./partials/Mixins.scss";

.category-list {
  color: $white;
  width: 20rem;
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;

  &:hover {
    background-color: $white;
    color: $black;
    cursor: pointer;
  }

  &--selected {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $white;
    }
  }
}
