@import "./partials/Mixins.scss";

.home-page {
  @include flex-column;
  @include align-center;
  background-color: $third-color;
  background-image: url("../../backgroundImages/AmazonWarehouse2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: calc(100vh - 5rem);
  margin-top: 5rem;

  .home-page-text {
    @include flex-column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: -2rem;
    color: white;
  }

  // css selector for image submission
  .css-i4bv87-MuiSvgIcon-root {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

    section {
      height: 15rem;
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(245, 245, 245, 0.445);
      border-radius: 1rem;
      border: 2px;
      border-style: dashed;
    }

    // css selector for the mui icon
    .css-i4bv87-MuiSvgIcon-root {
      display: none;
    }
  }
}
