.home-page {
  background-image: url('../../backgroundImages/AmazonWarehouse2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;

  // css selector for image submission
  .image-submission {
    width: 90%;
    height: 1000px;
  }
}