@import "../styles/partials/Mixins.scss";

.horizontal-tab {
  @include flex-column;
  align-items: center;
  width: 100%;

  .horizontal-tab-top {
    width: 100%;

    img {
      height: 5rem;
      width: 5rem;
    }

    .MuiBox-root {
      width: 100%;

      .MuiTabs-root {
        width: 100%;

        .MuiTabs-scroller {
          @include flex-row;
          width: 100%;
          height: 15rem;
          justify-content: flex-start;
          align-items: center;
        }
      }

      .MuiTab-root {
        height: 15rem;
        width: 10rem;
        font-size: 0.7rem;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
