@import "../styles/partials/Mixins.scss";

.item-label {
  @include flex-column;
  @include align-center;

  .product-details-section {
    @include flex-column;
    @include align-center;
  }

  .star-wish-button {
    position: absolute;
    margin-top: 12rem;
    font-size: 1.1rem;
    color: $third-color;
  }
}
