@import "../styles/partials/Mixins.scss";

.tab-panel {
  width: 100%;

  .MuiBox-root {
    background-color: $form-color;
    width: 100%;

    .product-info {
      @include flex-row;
      align-items: flex-start;
      width: 100%;

      .product-details {
        @include flex-column;
        width: 40%;

        .product-details-section {
          @include flex-row;
          align-items: center;
          margin-bottom: 0.25rem;
          margin-top: 0.25rem;
        }

        button {
          margin-right: 0.25rem;
          margin-top: 0.25rem;
          background-color: $third-color;
          color: $white;
        }
      }

      .product-reviews {
        width: 60%;

        .reviews-header {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
