@import "../styles/partials/Mixins.scss";

#tier-list {
  @include flex-column;
  width: 100%;
  padding: 15px;

  header {
    font-size: xx-large;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #tier-list-body {
    @include flex-row;
    justify-content: space-between;
    width: 100%;

    #tier-list-left {
      @include flex-column;
      padding-left: 10px;
      justify-content: space-evenly;
      width: 90px;

      .tier-list-rank {
        @include align-center;
        height: 200px;
        width: 100%;
        font-size: x-large;
      }

      img {
        height: 100px;
      }
    }

    #tier-list-right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: calc(100% - 140px);

      /* width */
      ::-webkit-scrollbar {
        width: 10px;
        height: 8px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .tier-list-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 200px;
        margin-top: 5px;
        padding: 10px;
        overflow-x: scroll;

        .product-item {
          display: flex;
          border: solid 3px $brand-color;
          padding: 5px;
          border-radius: 10px;
          margin: 0 8px 0 8px;
          &:hover {
            transform: scale(1.1);
          }
        }
        img {
          height: 150px;
          width: 150px;
        }
      }
    }
  }

  #tier-list-footer {
    font-size: large;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }
}