@import "../styles/partials/Mixins.scss";

.tier-list {
  @include flex-column;
  padding: 2rem;
  width: 90%;
  background-color: $white;
  margin-top: 5rem;

  header {
    font-size: xx-large;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
  }

  .tier-list-body {
    @include flex-column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .tier-list-item {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .tier-list-rank {
        @include flex-row;
        @include align-center;
        width: 15%;
        height: 15rem;
      }

      .tier-list-row {
        @include flex-row;
        align-items: center;
        width: 85%;
        margin-bottom: 1rem;
        border-bottom: solid 1px $black;
      }
    }
  }

  .tier-list-footer {
    font-size: large;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    // css selector for upload image icon and upload image form
    .css-i4bv87-MuiSvgIcon-root {
      display: flex;
      position: fixed;
      width: 200px;
      height: 200px;
      bottom: 0;
      right: 0;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;

      section {
        border: solid;
        border-color: $black;
        width: 100%;
        height: 100%;
        display: flex;
        @include align-center;
        background-color: $drop-zone-color;
        border-radius: 0.25rem;

        p {
          font-size: 1rem;
          text-align: center;
          padding: 0.5rem;
        }

        .css-i4bv87-MuiSvgIcon-root {
          height: 70px;
          width: 70px;
        }
      }

      // css selector for upload image form exit button
      .css-i4bv87-MuiSvgIcon-root {
        height: 30px;
        width: 30px;
      }
    }
  }
}
