@import "../styles/partials/Mixins.scss";

#tier-list {
  @include flex-column;
  width: 100%;
  background-color: $white;
  margin-top: 5rem;

  header {
    font-size: xx-large;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
  }

  #tier-list-body {
    @include flex-row;
    justify-content: space-between;
    width: 100%;

    #tier-list-left {
      @include flex-column;
      padding-left: 0.5rem;
      justify-content: space-evenly;
      width: 5rem;

      .tier-list-rank {
        @include align-center;
        height: 10rem;
        width: 100%;
        font-size: x-large;

        // css selector for vertical tab
        .css-1n3h4wo {
          width: 100%;
          position: absolute;
          z-index: 1;

          .css-ahj2mt-MuiTypography-root {
            height: 10rem;
            overflow-y: hidden;

            button {
              margin-left: 1rem;
            }
          }

          // css selector for vertical tab content
          .css-ahj2mt-MuiTypography-root {
            display: flex;

            .panel-reviews {
              display: flex;
              margin-left: 1rem;

              div {
                width: 23rem;
              }

              a {
                margin-left: 1rem;
              }
            }
          }
        }

        img {
          height: 0.25rem;
        }
      }
    }

    #tier-list-right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: calc(100% - 6rem);

      /* width */
      ::-webkit-scrollbar {
        width: 10px;
        height: 8px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .tier-list-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 10rem;
        margin-top: 0.25rem;
        padding: 0.5rem;
        overflow-x: hidden;

        .product-item {
          display: flex;
          border: solid 3px $brand-color;
          padding: 0.25rem;
          border-radius: 0.5rem;
          margin: 0 8px 0 8px;
          &:hover {
            transform: scale(1.1);
          }
        }
        img {
          height: 7.5rem;
          width: 7.5rem;
        }
      }
    }
  }

  #tier-list-footer {
    font-size: large;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    // css selector for upload image icon and upload image form
    .css-i4bv87-MuiSvgIcon-root {
      position: fixed;
      width: 150px;
      height: 150px;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      display: flex;

      section {
        border: 1px solid rgb(36, 47, 61);

        p {
          margin: 2px;
          font-size: large;
          text-align: center;
        }
        
        .css-i4bv87-MuiSvgIcon-root {
          height: 70px;
          width: 70px;
          margin-right: 50px;
        }
      }

      // css selector for upload image form exit button
      .css-i4bv87-MuiSvgIcon-root {
        height: 20px;
        width: 20px;
        
      }
    }
  }
}
