@import "../styles/partials/Mixins.scss";

.tier-list {
  @include flex-column;
  padding: 2rem;
  width: 90%;
  background-color: $white;
  margin-top: 5rem;

  header {
    font-size: xx-large;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
  }

  .tier-list-body {
    @include flex-column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .tier-list-item {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .tier-list-rank {
        @include flex-row;
        @include align-center;
        width: 15%;
        height: 15rem;

        img {
          height: 10rem;
          width: 10rem;
        }
      }

      .tier-list-row {
        @include flex-row;
        align-items: center;
        width: 85%;
        margin-bottom: 1rem;
        border-bottom: solid 1px $black;
      }
    }
  }

  .tier-list-footer {
    font-size: large;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    // css selector for upload image icon and upload image form
    .css-i4bv87-MuiSvgIcon-root {
      position: fixed;
      display: flex;
      font-size: 5rem;
      align-items: center;
      justify-content: center;
      bottom: 1rem;
      right: 1rem;
      color: $third-color;
      animation: bounce-1 3s;
      animation-iteration-count: infinite;
      transform-origin: bottom;

      .bounce-1 {
        animation-name: bounce-1;
        animation-timing-function: linear;
      }

      // css selector for the mui icon
      .css-i4bv87-MuiSvgIcon-root {
        display: none;
      }
    }
  }
}
