@import "../styles/partials/Mixins.scss";

.wish-list {
  @include flex-column;
  @include align-center;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 70%;

  .MuiBox-root {
    width: 100%;
  }

  .wish-list-stack {
    width: 100%;
    border-top: solid;

    .MuiPaper-root {
      @include flex-row;
      @include align-center;
      padding: 0.5rem;
      border-bottom: solid;

      .wish-list-item {
        @include flex-row;
        justify-content: space-between;
        width: 100%;

        .product-info {
          @include flex-row;
          justify-content: space-evenly;
          align-items: center;

          img {
            height: 5rem;
            width: 5rem;
            margin-left: 1rem;
          }

          .product-details {
            @include flex-column;
            align-items: flex-start;
            justify-content: space-evenly;
            margin-left: 1rem;
          }

          .product-rating {
            display: flex;
            align-items: center;
          }
        }

        .item-buttons {
          @include flex-column;
          justify-content: center;
          width: 15%;

          button {
            width: 100%;
            height: 1.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .save-button {
    @include flex-column;
    @include align-center;
    width: 100%;

    button {
      width: 100%;
      height: 2rem;
      background-color: $black;
      color: $white;
      &:hover {
        background-color: $alternate-color;
      }
    }
  }
}
